$body-bg: #fafafa;

$padding-default: 16px;

//COLORS
$white: #FFF;
$black: #000;
$logo-purple: #4B2C86;
$logo-blue: #488FCC;
$light-purple: #5e35b1;

$preloader-bg: $light-purple;

//BUTTON
$default-border-button: #fff;
$default-padding-button: 8px;
$default-margin-button: 1em;
