include header.pug
div(class="full-background hexa-bg")
div(class="full-background front over-hidden max-top")
  section(class="container hexa --main row align-center", id="intro")
    div(class="container column align-center flex-25")
      img(src="build/img/logo-full.svg", class="main-logo", alt="Logo Wendel Nascimento")
      a(class="button round margin", id="intro-button", href="#about")
        i(class="fa fa-chevron-down")
include nav.pug
section(id="about", class="full-background")
script(src="build/js/main.min.js", async)
