doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Wendel Nascimento
    link(rel="stylesheet" href="css/style.css")
  body
    div(class="full-background hexa")
    section(class="container --main row align-center")
      div(class="container column align-center flex-25")
        img(src="img/logo-full.svg", class="main-logo", alt="Logo Wendel Nascimento")
        a(class="button round margin", href="#main")
          i(class="fa fa-chevron-down")
        h1 Continuar
    script(src="https://use.fontawesome.com/c9bd327fe1.js", async)
