@import 'settings';

.main-container {
  display: flex;
  height: 100%;

  &.row {
    flex-direction: row;
    &.align-center {
      justify-content: center;
    }
  }

  &.column {
    flex-direction: row;
    &.align-center {
      align-items: center;
    }
  }

}

.vertical-center {
  max-width: 50%;
}
