@keyframes background-diagonal-reverse {
  0% {
    background-position: 0vw -0vh;
    filter: hue-rotate(0deg);
  }
  25% {
    background-position: 25vw -25vh;
    filter: hue-rotate(72deg);
  }
  50% {
    background-position: 50vw -50vh;
    filter: hue-rotate(216deg);
  }
  75% {
    background-position: 25vw -25vh;
    filter: hue-rotate(288deg);
  }
  100% {
    background-position: 0vw -0vh;
    filter: hue-rotate(360deg);
  }
}
