head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Wendel Nascimento
  meta(description="Um blog sobre desenvolvimento Front End e sobre a vida de seu jovem desenvolvedor.")
  meta(http-equiv="cache-control", content="public", max-age="600")
  link(rel="canonical", href="https://wendelnascimento.com.br")
  