doctype html
html(lang="pt-BR")
  include head.pug
  body
    div(class="container --main column align-center", id="intro")
      canvas#canvas-lines
      include ../img/logo-full.svg
      h2.title
        a(class="button margin scroll" id="intro-button", href="#sobre")
          i(class="fa fa-angle-down")
    include nav.pug
    section(id="sobre", class="full-background")
    include script.pug