doctype html
html(lang="pt-BR")
  include head.pug
  body
    div(class="container --main column align-center", id="intro")
      canvas#canvas-lines
      include ../img/logo-full.svg
      h2
        a(class="button margin" id="intro-button", href="#about") Continuar
    include nav.pug
    section(id="about", class="full-background")
    include script.pug